*{
	margin:0;
	padding:0;
	list-style: none;
}
html{
	height: 100%;
	width: 100%;
	overflow-x: none;
}
@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
img{
	border:none;
}
a{
	text-decoration: none;
}
body{
	overflow: hidden;
	font-family: 'Lantinghei SC','Microsoft YaHei';
	font-weight: lighter;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:30px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#head_box{
	width: 100%;
	height:10%;
	position: absolute;
	bottom: 0;
	z-index: 99;
}
#head_box ul{
	width:100%;
	height:100%;
	margin:0 auto;
	zoom:1;
}
#head_box ul:after{
	content: "";
	display: block;
	clear:both;
}
#head_box ul li{
	height:100%;
	width:20%;
	line-height: 100px;
	text-align: center;
	float: left;
	/*background-color: rgba(0,0,0,0.3);*/
}
#head_box ul li span{
	position: absolute;
	width:20%;
	height:100%;
	display: inline-block;
	opacity: 0;
}
#head_box ul li #focus{
	opacity: 1;
}
#head_box ul li a{
	color:#000;
	display: inline-block;
	width:100%;
	height: 100%;
	line-height: 100%;
	position: relative;
}
#head_box ul li a i{
	width: 100%;
	position: absolute;
	left: 0;
	top: 40%;
	color:#ccc;
}
.MyLogo{
	width:180px;
	height:270px;
	margin:0 auto;
	border:3px solid #000;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -185px;
	margin-left: -90px;
	z-index: 99;
}
.MyLogo p{
	color:#000;
	display: inline-block;
	width: 30px;
	font-size: 30px;
	font-weight: 200;
	position: absolute;
	bottom: 0;
	right:0;
	padding: 10px;
}
.content{
	opacity: 0;
}
#fullpage{
	z-index: 50;
}
#section1 .content{
	width: 100%;
}
#section1 .content .blank{
	width:180px;
	height:270px;
	margin:0 auto;
	margin-bottom: 40px;
	position: relative;
}
#section1 .content .head_img span{
	width: 200px;
	height:200px;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	background-image: url("../img/man.jpg");
	background-size: contain;
}
#section1 .content h1{
	font-size:22px;
	font-weight: 200;
	display: block;
	margin: 0 auto;
	text-align: center;
}
#section1 .content p{
	color:#ccc;
	font-weight: 200;
	display: block;
	text-align: center;
	text-transform: capitalize;
}
#section1 .content span{
	background: #000;
	display: inline-block;
	width: 800px;
	height: 2px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	transform: rotateZ(-30deg);
	background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1)); /* Safari 5.1 - 6 */
	background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,1)); /* Opera 11.1 - 12*/
	background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,1)); /* Firefox 3.6 - 15*/
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)); /* 标准的语法 */  
}
#section1 .prompt{
	position: absolute;
	top: 10px;
	right:0;
}
#section1 .prompt p{
	font-size:12px;
	/*在火狐里没有最小字体限制，而其他浏览器则限制最小字体为12px,so 字体尽量不要小于12px*/
	color:#ccc;
}
#section2 .contents,#section3 .contents,#section4 .contents,#section5 .contents{
	width:100%;
	height:80%;
	position: relative;
	background: #eee;
}
#section2 .contents .text,#section3 .contents .text{
	width:60%;
	margin:0 auto;
	position: relative;
	top:25%;
}
#section2 .contents .text h1,#section3 .contents .text h1{
	font-size: 26px;
	color:#333;
	font-weight: 200;
	margin-bottom: 50px;

}
#section2 .contents .text h1 i,#section3 .contents .text h1 i{
	display: block;
	width:50px;
	height: 2px;
	background: #000;
	margin-top: 15px;
}
#section2 .contents .text p,#section3 .contents .text p{
	margin:5px 0;
	font-size: 14px;
	color:#000;
	width:55%;
	letter-spacing: 2px;
	font-weight: 200;
}
#section2 .contents .text .text_img{
	height: 100%;
	display: inline-block;
	position: absolute;
	left:50%;
	bottom:0;
	margin-left: 80px;
}
#section2 .contents .text .images{
	width:200px;
	height:200px;
	position: absolute;
	display: inline-block;
	right:7%;
	top:20%;
	border-radius: 50%;
	background-image: url("../img/sts.jpg");
	background-size: contain;
}
#section4 .contents .works_box{
	position: relative;
	top:35%;
	margin: 0 auto;
	width:500px;
	height: 200px;
}
#section4 .contents .works_box .works{
	position: absolute;
	width: 100%;
	height:100%;
	display: none;
	opacity: 0;
}
#section4 .contents .works_box .works ul{
	height:100%;
	width: 100%;
}
#section4 .contents .works_box .works ul li{
	float: left;
	width: 50%;
	position: relative;
	top:50%;
}
#section4 .contents .works_box .works ul li h1{
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
#section4 .contents .works_box .works ul li a{
	width: 100%;
	text-align: center;
	display: block;
	color:#999;
}
#section4 .contents .works_box .works ul li img{
	display: block;
	margin:0 auto;
}
#section4 .contents .btn{
	width: 80px;
	height:100px;
	position: absolute;
	top: 50%;
	left:50%;
	margin-top:-30px;
}
#section4 .contents .btn i{
	moz-user-select: -moz-none; 
	-moz-user-select: none; 
	-o-user-select:none; 
	-khtml-user-select:none; 
	-webkit-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 80px;
	text-align: center;
	line-height:100px;
	color:#999;
	cursor: pointer;
}
#section4 .contents #Lbtn{
	margin-left:-350px;
}
#section4 .contents #Rbtn{
	margin-left:270px;
}
.BGeffect{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	opacity: 0.3;
}
.BGeffect .Animation{
	position: absolute;
	width: 600px;
	height:600px;
	right:-150px;
	bottom: -150px;
}
.BGeffect .Animation div{
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}
.BGeffect .Animation .Animation1{
	width: 100%;
	height: 100%;
	background-image: url(../img/red.png);
	animation: backward 40s infinite linear;
}
.BGeffect .Animation .Animation2{
	width: 80%;
	height: 80%;
	background-image: url(../img/blue.png);
	margin:10%;
	animation: forward 30s infinite linear;
}
.BGeffect .Animation .Animation3{
	width: 60%;
	height: 60%;
	background-image: url(../img/yellow.png);
	margin:20%;
	animation: backward 20s infinite linear;
}
@keyframes backward{
	form{
		transform:rotateZ(0deg);
	}to{
		transform:rotateZ(-360deg);
	}
}
@keyframes forward{
	form{
		transform:rotateZ(0deg);
	}to{
		transform:rotateZ(360deg);
	}
}
