@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
*{
	margin:0;
	padding:0;
	list-style: none;
}
html{
	height: 100%;
	width: 100%;
	overflow-x: none;
}
img{
	border:none;
	display: block;
}
a{
	text-decoration: none;
	color:#333;
}
body{
	overflow: hidden;
	font-family: 'Microsoft YaHei';
	font-weight: lighter;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:30px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#head_box{
	width: 100%;
	height:10%;
	position: absolute;
	bottom: 0;
	z-index: 99;
}
#head_box ul{
	width:100%;
	height:100%;
	margin:0 auto;
	zoom:1;
}
#head_box ul:after{
	content: "";
	display: block;
	clear:both;
}
#head_box ul li{
	height:100%;
	width:20%;
	line-height: 100px;
	text-align: center;
	float: left;
}
#head_box ul li span{
	position: absolute;
	width:20%;
	height:100%;
	display: inline-block;
	opacity: 0;
}
#head_box ul li a{
	color:#000;
	display: inline-block;
	width:100%;
	height: 100%;
	line-height: 100%;
	position: relative;
}
#head_box ul li a i{
	width: 100%;
	position: absolute;
	left: 0;
	top: 40%;
	color:#ccc;
}
.MyLogo{
	width:180px;
	height:270px;
	margin:0 auto;
	border:6px solid #000;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -186px;
	margin-left: -96px;
	z-index: 99;
}
.MyLogo p{
	color:#000;
	display: inline-block;
	width: 30px;
	font-size: 30px;
	font-weight: 600;
	position: absolute;
	bottom: 0;
	right:0;
	padding: 15px;
}
#fullpage{
	z-index: 50;
}
#section1 .content{
	width: 100%;
	opacity: 0;
}
#section1 .content .blank{
	width:180px;
	height:270px;
	margin:0 auto;
	margin-bottom: 40px;
	position: relative;
}
#section1 .content .head_img span{
	width: 200px;
	height:200px;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	background-image: url("../img/man.jpg");
	background-size: contain;
}
#section1 .content h1{
	font-size:22px;
	font-weight: 200;
	display: block;
	margin: 0 auto;
	text-align: center;
}
#section1 .content p{
	color:#ccc;
	font-weight: 200;
	display: block;
	text-align: center;
	text-transform: capitalize;
}
#section1 .content span{
	background: #000;
	display: inline-block;
	width: 800px;
	height: 2px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	transform: rotateZ(-30deg);
	background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1)); /* Safari 5.1 - 6 */
	background: -o-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,1)); /* Opera 11.1 - 12*/
	background: -moz-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,1)); /* Firefox 3.6 - 15*/
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)); /* 标准的语法 */  
}
#section1 .prompt{
	position: absolute;
	top: 10px;
	right:0;
}
#section1 .prompt p{
	font-size:12px;
	/*在火狐里没有最小字体限制，而其他浏览器则限制最小字体为12px,so 字体尽量不要小于12px*/
	color:#ccc;
}
#section2 .contents,#section3 .contents,#section4 .contents,#section5 .contents{
	width:100%;
	height:80%;
	position: relative;
	background: #eee;
}
#section2 .contents .text,#section3 .contents .text{
	width:60%;
	margin:0 auto;
	position: relative;
	top:25%;
}
#section2 .contents .text h1{
	font-size: 26px;
	color:#333;
	font-weight: 600;
	margin-bottom: 50px;

}
#section2 .contents .text h1 i{
	display: block;
	width:50px;
	height: 2px;
	background: #000;
	margin-top: 15px;
}
#section2 .contents .text p{
	margin:5px 0;
	font-size: 14px;
	color:#000;
	width:55%;
	letter-spacing: 2px;
	font-weight: 200;
}
#section2 .contents .text .text_img{
	height: 100%;
	display: inline-block;
	position: absolute;
	left:50%;
	bottom:0;
	margin-left: 80px;
}
#section2 .contents .text .images{
	width:200px;
	height:200px;
	position: absolute;
	display: inline-block;
	right:7%;
	top:20%;
	border-radius: 50%;
	background-image: url("../img/sts.jpg");
	background-size: contain;
}
#section3 .contents .text div{
	float: left;
	width: 50%;
}
#section3 .contents .text .texts h1{
	width: 100%;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 50px;
	text-align: center;
	line-height: 53px;
}
#section3 .contents .text .texts h1 i{
	width:10%;
	border-top:1px solid #333;
	margin: 0 auto;
	display: block;
}
#section3 .contents .text .texts p{
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-bottom: 5px;
	letter-spacing: 2px;
}
#section3 .contents .text:after{
	content: '';
	display: block;
	clear:both;
}
#section4 .contents .title{
	position: absolute;
	display: inline-block;
	width: 230px;
	height: 35px;
	left:50%;
	top: 15%;
	margin-left: -115px;
}
#section4 .contents .title h1{
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	display: inline-block;
	position: absolute;
}
#section4 .contents .title #myworks{
	left: 0;
	top: 0;
}
#section4 .contents .title #office{
	right: 0;
	bottom: 0;
}
#section4 .contents .title i{
	display: inline-block;
	font-size: 28px;
	font-weight: 600;
	position: absolute;
	left:50%;
	margin-left: -6px;
}
#section4 .contents .works_box{
	position: relative;
	top:35%;
	margin: 0 auto;
	width:500px;
	height: 200px;
}
#section4 .contents .works_box .works{
	position: absolute;
	width: 100%;
	height:100%;
	display: none;
	opacity: 0;
}
#section4 .contents .works_box .works ul{
	height:100%;
	width: 100%;
}
#section4 .contents .works_box .works ul li{
	float: left;
	width: 50%;
	position: relative;
	top:50%;
}
#section4 .contents .works_box .works ul li h1{
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 10px;
}
#section4 .contents .works_box .works ul li a{
	width: 100%;
	text-align: center;
	display: block;
	color:#999;
}
#section4 .contents .works_box .works ul li img{
	display: block;
	margin:0 auto;
}
#section4 .contents .btn{
	width: 80px;
	height:100px;
	position: absolute;
	top: 50%;
	left:50%;
	margin-top:-30px;
}
#section4 .contents .btn i{
	moz-user-select: -moz-none; 
	-moz-user-select: none; 
	-o-user-select:none; 
	-khtml-user-select:none; 
	-webkit-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 80px;
	text-align: center;
	line-height:100px;
	color:#999;
	cursor: pointer;
}
#section4 .contents #Lbtn{
	margin-left:-350px;
}
#section4 .contents #Rbtn{
	margin-left:270px;
}
#section5 .contents .text{
	width:960px;
	margin:0 auto;
	position: relative;
	top:25%;
}
#section5 .contents .text:after{
	content: "";
	display: block;
	clear:both;
}
#section5 .contents .text .title{
	display: inline-block;
	width:100px;
	position: relative;
	left: 50%;
	margin-left: -50px;
}
#section5 .contents .text .title h1{
	width: 100%;
	border-bottom: 1px solid #333;
	text-align: center;
	font-size: 26px;
	padding-bottom: 5px;
	margin-bottom: 40px;
	font-weight: 200;
}
#section5 .contents .text .texts{
	width:200px;
	position: relative;
	left: 50%;
	margin-left: -80px;
	letter-spacing: 1px;
}
#section5 .contents .text .texts p{
	display: inline-block;
	font-size: 14px;
	line-height: 50px;
}
#section5 .contents .text .texts p i{
	font-size: 30px;
	position: relative;
	top:4px;
	color:#666;
}
#section5 .contents .text .social{
	width: 600px;
	position: relative;
	left: 50%;
	margin-left: -300px;
	margin-top: 55px;
}
#section5 .contents .text .social:after{
	content: "";
	display: block;
	clear:both;
}
#section5 .contents .text .social li{
	width: 200px;
	float: left;
}
#section5 .contents .text .social li a{
	display: inline-block;
	margin-left:80px;
}
#section5 .contents .text .social li a i{
	font-size: 40px;
	color:#999;
}
#section5 .contents .text .social li p{
	display: inline-block;
	position: absolute;
	padding: 5px;
	background: #fff;
	top: -175px;
	left:50%;
	margin-left: -85px;
	border:2px solid #999;
	border-radius: 5px;
	display: none;
}
#section5 .contents .text .social li p:before{
	display: inline-block;
	content: '';
	position: absolute;
	top: 161px;
	left: 50%;
	margin-left: -5px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #666;
}
#section5 .contents .text .social li p:after{
	display: inline-block;
	content: '';
	position: absolute;
	top: 159px;
	left: 50%;
	margin-left: -5px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
}